.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: 2rem;

  font-size: 1.2rem;

  background: var(--second-color);
  color: #fff;

  padding: 0.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(10px);

  z-index: 1000;
}


.scrollup.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scrollup:hover {
  transform: translateY(-4px);
}

