@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
}

.app {
  width: 100%;
  margin: auto;
}

.container {
  padding: 0 13%;
}

.section__title {
  font-size: clamp(3rem, 8vw, 7rem);
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 5rem;
  word-break: break-word;
}

@media (max-width: 480px) {
  .section__title {
    font-size: clamp(2.5rem, 9vw, 3rem);
    text-align: center;
  }
}

@media (max-width: 360px) {
  .section__title {
    font-size: 2.2rem;
  }

}